In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as pe
import collections 
from pandas_profiling import ProfileReport

In [2]:
june_file = pd.read_excel("June_Report.xlsx")
may_file = pd.read_excel("MaY_Report.xlsx")

In [3]:
june_file.head(5)

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2019-01-06     East    Jones  Pencil     95       1.99  189.05
1 2019-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2019-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2019-02-26  Central     Gill     Pen     27      19.99  539.73
4 2019-03-15     West  Sorvino  Pencil     56       2.99  267.44

In [4]:
may_file.head(5)

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2019-01-06     East    Jones  Pencil     95       1.99  189.05
1 2019-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2019-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2019-02-26  Central     Gill     Pen     27      19.99  539.73
4 2019-03-15     West  Sorvino  Pencil     56       2.99  167.44

In [5]:
#check the files columns and rows 

def colcheck(file1,file2):
    f1 = file1
    f2 = file2
    if collections.Counter(f1) == collections.Counter(f2):
        return str("Has both file are same.... file comparision has posible.")
    else:
        return str("file columns and number are diff.... file comparision has not posible. ")


colcheck(june_file,may_file)

'Has both file are same.... file comparision has posible.'

In [6]:
june_file.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Cost', 'Total'], dtype='object')

In [7]:
may_file.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Cost', 'Total'], dtype='object')

In [8]:
#check the null values
june_file.isnull().sum()

OrderDate    0
Region       0
Rep          0
Item         0
Units        0
Unit Cost    0
Total        0
dtype: int64

In [9]:
may_file.isnull().sum()

OrderDate    0
Region       0
Rep          0
Item         0
Units        0
Unit Cost    0
Total        0
dtype: int64

In [10]:
june = ProfileReport(june_file,title="June Report",explorative=True)
june.to_file("month of june report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
may = ProfileReport(may_file,title="may Report",explorative=True)
may.to_file("month of may report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]